* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 62px;
    font-weight: 700;
    color: #FFFFFF;
}
h2{
    font-size: 42px;
    font-weight: 700;
    color: #122346;
    font-style: italic;
}
h3{
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
}
h4{
    font-size: 32px;
    font-weight: 700;
    color: #122346;
    font-style: italic;
}
h5{
    font-size: 28px;
    font-weight: 700;
    color: #ED1C2B;
}
p{
    font-size: 22px;
    font-weight: 500;
    color: #122346;
    line-height: 40px;
}
.container{
    max-width: 1416px;
    width: 100%;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    background-color:#ED1C2B; 
    color: white;
    padding: 37px 61px;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn:hover {
    background-color: #DC2626;
}
.hero{
    background: 
    linear-gradient(270deg, rgba(255, 255, 255, 0) 2%, #122346 98%), 
    url('./assets/hero.png');
background-size: cover;
background-position: center;
}
.hero-container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
   
    padding: 120px 0px 215px 270px;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    padding: 120px 0px 215px 270px;
}
.hero-title{
    max-width: 635px;
}
.hero-sub {
    max-width: 500px;
}
.banner-container{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #122346;
}
.banner-img{
    padding-top:20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-container{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}
.join{
    background-color: #FAF7F0;
}
.join-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.join-wrapper h2{
    margin-top: 20px;
    margin-bottom: 35px;
    max-width: 850px;
}
.join-wrapper p{
    font-size: 24px;
    max-width: 1092px;
     
}
.join-wrapper h5{
    margin-top: 32px;
    margin-bottom: 56px;
}

.register-section {
    margin: 0 auto;
    overflow: hidden;
}

.register-wrapper {
    display: flex;
    position: relative;
    margin: 0 auto;
}
.register-content {
    width: 60%;
    z-index: 2;
    margin-right: -135px;
    margin-top: 50px;
    padding: 50px 0;
}

.register-content-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: 0;
}

.register-image {
    width: 50%;
    flex-shrink: 0;
    z-index: 1;
}

.register-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.register-content h2 {
    margin-bottom: 40px;
}

.register-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.r-card {
    background-color: #FAF7F0;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
}
.r-card:nth-child(2) {
    max-width: 600px;
}

.r-card-head-wrapper {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
    align-items: flex-end;
}

.r-card-head-img img {
    width: 60px;
    height: 60px;
}

.r-card-head h4 {
    font-size: 1.2rem;
    color: #122346;
}

.r-card-content p {
    color: #333;
    line-height: 1.6;
}

.r-card-list {
    list-style-type: lower-alpha;
    padding-left: 40px;
    margin-top: 20px;
}

.r-card-list li {
    padding-left: 15px;
    font-size: 22px;
    font-weight: 500;
    color: #122346;
    line-height: 40px;
}

.r-card-list li::marker {
    color: #122346;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
}

.register-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.tour {
    margin-top: 60px;
    margin-bottom: 65px;
    background-color: #FAF7F0;
}
.tour-container{
    max-width: 1416px;
    margin: 0 auto;
    width: 100%;
    background-color: #122346;
    padding: 46px 44px;
}
.tour-wrapper{
    display: flex;
    background-color: #122346;
    padding: 46px 44px;
}
.tour-content{
    width: 50%;
    padding-top: 58px;
    padding-left: 50px;
    background-color: #FFFFFF;
}
.tour-content h2{
   margin-bottom: 65px
}
.tour-content p{
   max-width: 560px;
    
}
.tour-img{
    width: 50%;
}
.tour-img img{
    width: 100%;
    display: block;
}

.gallery{
    background-color: #FAF7F0;
}
.gallery-container {
    max-width: 1544px;
    margin: 0 auto;
    width: 100%;
}
.gallery-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.gallery-item {
    flex: 1 1 calc(25% - 30px);
    max-width: 400px;
    margin-bottom: 75px;
}

.gallery-item img {
    width: 100%;
    object-fit: cover;
}

/* .impact-container{
    max-width: 1328px;
    margin: 0 auto;
    width: 100%;
} */
.impact{
    margin-top: 35px;
}
.impact-container p{
    max-width: 975px;
}
.impact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.impact-wrapper h2{
   margin-bottom: 55px
}
.impact-cards{
    margin-bottom: 55px;
    width: 100%;    
}
.impact-card-wrapper {
    display: flex;
    /* justify-content: space-between; */
    gap: 150px;
}
.impact-card-content{
    width: 30%;
}
.impact-card-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.impact-card-img{
    width: 100%;
    margin-bottom: 44px;
}
.impact-card-content p{
    max-width: 345px;
}
.impact-paras{
    max-width: 975px;
    margin-bottom: 55px;
}

.start-btn-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.start-btn{
    padding: 37px 76px;
}