* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 62px;
    font-weight: 700;
    color: #FFFFFF;
}
h2{
    font-size: 42px;
    font-weight: 700;
    color: #122346;
    font-style: italic;
}
h3{
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
}
h4{
    font-size: 32px;
    font-weight: 700;
    color: #122346;
    font-style: italic;
}
h5{
    font-size: 28px;
    font-weight: 700;
    color: #ED1C2B;
}
p{
    font-size: 22px;
    font-weight: 500;
    color: #122346;
}

.hero-container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    background: 
        linear-gradient(270deg, rgba(255, 255, 255, 0) 2%, #122346 98%), 
        url('./assets/hero.png');
    background-size: cover;
    background-position: center;
    padding: 120px 0px 215px 270px;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
}
.hero-title{
    max-width: 635px;
}
.hero-sub {
    max-width: 500px;
}

.banner-container{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #122346;
}
.banner-img{
    padding-top:20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-container{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}
.join-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.join-wrapper h2{
    margin-top: 20px;
    margin-bottom: 35px;
    max-width: 850px;
}
.join-wrapper p{
    font-size: 24px;
    max-width: 1092px;
    line-height: 40px;
}
.join-wrapper h5{
    margin-top: 32px;
    margin-bottom: 56px;
}